body {
    background-color:lightblue
}
h1,p.intro {
    text-align:center
}
p,a,h1 {
    font-family:sans-serif;
}
h1 {
    color:white;
}
a {
    font-weight:bold;
    color:white;
    text-decoration:none;
    hover:pink;
}
a:link {color:white;}
a:visited {color:grey}
a:hover {color:hotpink}
a:active {color:yellow}